# Ruff configuration
# https://beta.ruff.rs/docs/settings/

target-version = "py312"
line-length = 120
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # Pyflakes
    "C",  # flake8-comprehensions
    "B",  # flake8-bugbear
    "I",  # isort
    "N",  # pep8-naming
    "D",  # pydocstyle
    "UP", # pyupgrade
]
ignore = [
    "D100", # Missing docstring in public module
    "D104", # Missing docstring in public package
    "D105", # Missing docstring in magic method
    "D107", # Missing docstring in __init__
    "D203", # 1 blank line required before class docstring (found 0)
    "D212", # Multi-line docstring summary should start at the first line
]
unfixable = [
    "D", # Don't autofix docstring issues (we want to write them ourselves)
]

[pydocstyle]
convention = "google" # Use Google-style docstrings
